.commerceDiv{
  /* border: solid red 1px; */
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.commerceList {
  height: auto;
  list-style-type: none;
  margin-top: 1%;
  display: inline-flex;
  margin: 3%;
}

.cardCommerce {
  display: flex;
  /* background-color: blue; */
  border: medium solid #8200A8;
  border-radius: 15px;
  height: 10%;
  width: 80vh;
}

.commerceLink {
  text-decoration: none;
}

.divTextCommerce{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: auto;
  padding-top: 3%;
}

.divTextCommerce p{
  color: black;
  font-size: x-large;
  height: auto;
}

.commerceListImg {
  display: flex;
  height: 25vh;
  border-radius: 10px;
  width: auto;
  /* padding: 1%; */
  margin: 1%;
  margin-left: 4vh;
}

.commerceListImg img{
  border-radius: 50%;
  background-size:cover;
  background-position:center;
  object-fit: cover;
  height: 25vh;
  width: 25vh;
}