.containerComentario{
  margin-top: 30vh;
  height: auto;
}

.divComentario{
  display: flex;
  justify-content: space-between;
  background-color: #EDE0D6;
  /* height: 10%; */
}

.divComentario h1{
  font-weight: bold;
  margin: 3% 5%;
}

.logoPerfil{
  border-radius: 100px;
  margin-top: 1%;
  margin-left: 5%;
  width: 5%;
  height: 10vh;

}

.divAvaliacao{
  background-color: #EDE0D6;
  height: 100vh;
}

.divAvaliacao h1{
  display: inline;
  position: relative;
  left: 1%;
  bottom: 9vh;
  font-size: x-large;
}

.divAvaliacao p{
  /* display: flex; */
  position: relative;
  left: 11%;
  bottom: 70px;
  width: 85%;
  height: 6%;
  font-weight: bold;
}

.fotoPerfilCNPJ{
  border-radius: 100px;
  margin-top: -3%;
  margin-left: 10%;
  width: 4%;
  height: 8%;
}

.divAvaliacao input{
   position: relative;
   bottom: 20px;
   left: 1%;
   border-color: #FE0472;
   width: 40%;
   height: 40px;
   border-radius: 50px;
}

.iconeEstrela{
  background-color: aqua;
  position: relative;
  /* top: 3%; */
  padding-right: 0%;
  width: 30%;
  height: 50%;
}

.iconeAviao{
  color: #FE0472;
  /* position: absolute; */
  width: 2%;
  height: 4vh;
  /* left: 45%;
  top: 133%; */
  transform: rotate(-25deg);
}