.root {
  overflow: auto;
  background-color: #8200A8;
}

#main {
  background-color: #EDE0D6;
  width: 100%;

  /* padding: 1%; */
  border-radius: 12px 12px 0px 0px;
}

#conteiner {
  background-color: #EDE0D6;
  margin: 1%;
  margin-top: 2%;
  height: auto;
  
}

#conteinerMain {
  /* overflow: auto; */
  margin: 1%;
  margin-top: 2%;
  height: auto;
  margin-bottom: 7%;

}

.layoutAConteiner_main{
  background-color: var(--primary-color);
  display: flex;

  align-items: center; 
  text-align: center;
}

.layoutAConteiner_logo{
  display: flex;
  background-color: var(--secondary-color);
  width: 50%;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 0 1rem 1rem 0;
}

.layoutAConteiner_body{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  width: 50%;
  overflow-y: auto;

}

.layoutBConteiner_A{

}

.layoutBConteiner_B{
  
}

:root {
  --primary-color: #EDE0D6;
  --secondary-color: #8200A8;
  --color-click: #FE0472;
}