.divButtons{
  display: flex;
  justify-content: center;
}
.divButtons button{
  height: 6vh;
  border-radius: 10px;
  background-color: #8200A8;
  color: white;
  align-items: center;
  margin: 10px;
  width: 15vh;
  border: none;
}