.containerEventos{
  height: auto;
}

.divTituloEvento{
  margin: 2vh;
  font-size: 4.5vh;
  margin-left: 4vh;
}
.divTituloEvento h1{
  margin-bottom: 15px;
}

.divLogoEstab{
  border: solid 1px red;
}
.iconeEvento{
  width: 2%;
  height: 10%;
  margin-left: 2.5%; 
  position: relative;
  bottom: 28.5vh;
}

.tituloHeaderEvento {
margin-top: 3vh;
}

.btnAddEvento{
  background-color:transparent;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3%;
  height: 15%;
  margin-left: 93%;
  position: relative;
  bottom: 115%;
}

.iconeAddEvento{
  color: #FE0472;
  width: 90%;
  height: 130%;  
}

.divModalConteudoEventos{
  width: 97%;
  height: 45vh;
  margin-left: 1%;
  margin-top: 1%;
}

.tituloEvento{
  font-size: x-large;
  font-weight: bold;
  width: 50%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.divModalConteudoImgEventos{
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  width: 40%;
  height: 30vh;
  left: 4%;
  top: 5%;
}

.imgLogoEvento{
  width: 100%;
  border-radius: 10px;
}

.divModalConteudoInputsEventos{
  position: relative;
  bottom: 64%;
  left: 50%;
  width: 40%;
  height: 30vh;
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
}

.divModalConteudoInputsEventos h1{
  font-size:larger;
  height: auto;
}

.divModalConteudoInputsEventos input{
  position: relative;
  bottom: 6%;
  width: 80%;
  height: 113px;
  margin-left: 15%;
  display: block;
  border: 1px #8200A8 solid;
  border-radius: 5px;
  background-color: #EDE0D6;
}

.divModalConteudoInputsEventos svg{
  position: relative;
  top: 5%;
  width: 10%;
  height: 50%;
}

.btnSalvarEvento{
  height: 5vh;
  border-radius: 10px;
  background-color: #8200A8;
  color: white;
  align-items: center;
  margin: 10px;
}

.evento {
  background-color: #EDE0D6;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}

.cardEvento {
  border-color: black;
  border: 4px black solid;
  border-radius: 15px;
  width: 20%;
  height: 14.5%;
  margin: 2% 4% 3% 4% ;
  position: relative;
  padding: 1% 2%;
  text-align: justify;

} 

.cardEvento h1 {
  height: auto;
  width: auto;
  font-size: 100%;
  font-weight: bold;

} 

.cardEvento ul {
  height: auto;
  width: auto;
  padding: 1%;
 
} 

.cardEvento ul li {
  list-style: disc inside;
}

.dadosEvento{
  text-align: center;
}

.divImage{
  margin: auto;
  width: 90%;
  height: 80%;
  align-items: center;
  justify-content: center;
  display: flex;

}
.inputTitulo{
  height: auto;
  margin: 2%;
  display: flex;
  flex-direction: row;
}
.inputDate{
  background-color: var(--primary-color);
  width: 20vh;
  height: 51px;
  border: 1px rgb(165, 164, 164) solid;
  border-radius: 2%;
  margin-left: 4%;
  
}
.divSalvar{
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}