.pele {
  background-color: #ede0d6;
  height: auto;
}
.divInfo {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: start;
  height: auto;
  width: 70vh;
  margin: 5vh;
}

.divInfoP input {
  position: relative;
  bottom: 20px;
  left: 5%;
  border-color: black;
  border: 4px black solid;
  width: 40%;
  height: 40px;
  border-radius: 15px;
  background-color: #ede0d6;
}

.divInfoP h1 {
  height: 7vh;
  font-size: 20px; /*Tamanho da font*/
  font-weight: bold; /*Negrito*/
  margin-left: 5%;
  margin-top: 12%;
}

.divSalvarPerfil {
  margin: 2vh;
  width: 20vh;
  margin-left: 30vh;
  height: 10vh;
}
