.welcomeconteiner {
  display: flex;
  justify-items: center;
  background-color: #8200a8;
}

.welcomeconteinerbtn {
  display: flex;
  text-align: center;
  justify-self: center;
  flex-direction: column;
  width: 50%;
  background-color: #ede0d6;
  overflow: auto;
}

.divButtons {
  display: flex;
  text-align: center;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

#bemVindoTitulo {
  display: flex;
  color: #8200a8;
  font-size: 200%;
  margin-top: 20%;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
}
