
.carrosel{
    display: flex;
    flex-direction: column;
    background-color:#EDE0D6;
    height: auto;
}

.divSlide{
    /* display: inline; */
    
    /* height: auto; */
}

.slider{
    /* position: absolute; */
    height: auto;
    /* bottom: 25%; */
}

.sliderItem{
    width: 64%;
    height: 36%;
    border-radius: 20px;
    margin-left: 5vh;
 
}

.swiper-button-prev:after{
    color: #FE0472;
    /* margin-right: 10px; */
}

.swiper-button-next:after{
    color: #FE0472;
}

.conteinerImageSelector{
    display: grid;
    
}
.divButtonsAdd{
    display: flex;
    justify-content: center;
   
  }
  .divButtonsAdd button{
    height: 6vh;
    border-radius: 10px;
    background-color: #8200A8;
    color: white;
    align-items: center;
    margin: 10px;
    width: 18vh;
    border: none;
   

  }









