
.carrosel{
    height: 65%;
    position: relative;
    top: 31%; 
    background-color:#EDE0D6;
}

.divBtnAdd{
    height: 10%;
}

.btnAdd{
    width: 15%;
    height: 7%;
    position: absolute;
    top: 3%;
    right: 2%;
    color: #FE0472;
}

.slider{
    position: absolute;
    height: auto;
    bottom: 25%;
}

.sliderItem{
    width: 95%;
    height: 280px;
    border-radius: 20px;
    margin: 25% 3%;
}

.swiper-button-prev:after{
    /* position: absolute;
    bottom: -80%; */
    color: #FE0472;
}

.swiper-button-next:after{
    /* position: absolute;
    bottom: -80%; */
    color: #FE0472;
}













